<!-- <mat-form-field>
    <input type='text' matInput>
</mat-form-field> -->
<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="onAddPost()"  *ngIf="!isLoading">
        <mat-form-field>
            <input formControlName="title" matInput name="title" required placeholder="Post Title" type="text">
            <mat-error *ngIf="form.get('title')?.invalid">Please enter a post title.</mat-error>
        </mat-form-field>
        <div>
            <button type="button" mat-stroked-button (click)="filePicker.click()">Pick Image</button>
            <input (change)="onImagePicked($event)" type="file" #filePicker>
        </div>
        <div class="image-preview" *ngIf="imagePreview !== null && imagePreview !== '' && form.get('image')?.valid"> 
            <img [src]="imagePreview" [alt]="form?.value.title">
        </div>
        <mat-form-field>
            <textarea formControlName="content" matInput name="content" required placeholder="Post Content" row="6"></textarea>
            <mat-error *ngIf="form.get('content')?.invalid">Please enter a post content.</mat-error>
        </mat-form-field>
        <button mat-raised-button color='accent' type="submit">Save Post</button>
    </form>
</mat-card>